<div class="flex min-w-full flex-col rounded-xl border-none border-muted/20 bg-background" id="invoiceDetailContainer">
    <div class="flex flex-col m-6 p-2 gap-4 divide-y-2 divide-dashed">

        <!-- Invoice Info + Company Info -->
        <div class="flex flex-row justify-between">
            <div class="w-4/12 pr-2">
                <img [src]="invoice.ownerOrganization.logoB64 || 'https://placehold.co/400'" alt="Invoice Logo"
                    class="w-auto h-20 rounded-lg shadow-md mb-4">

                <div class="mt-2 text-lg font-bold text-muted-foreground flex justify-between">
                    <span>Invoice No:</span>
                    <span class="font-medium">{{invoice.invoiceNumber}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Invoice Date:</span>
                    <span class="font-medium">{{invoice.invoiceDate}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Payment Status:</span>
                    <span class="font-medium">{{invoice.invoiceStatus | word }}</span>
                </div>
                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Delivery Date:</span>
                    <span class="font-medium">{{invoice.deliveryDate}}</span>
                </div>
            </div>


            <div class="w-5/12 pl-2">
                <img [src]="invoice.barcode" alt="Invoice QR Code" class="w-full h-12 rounded bg-gray-100">

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Company Name:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgName}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Address:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgAddressLine}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Postcode:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgAddressPostcode}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>TIN No:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgTinNumber}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>VAT Registration No:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgVatNumber}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Email Address:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgEmail}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Contact No:</span>
                    <span class="font-medium">{{invoice.ownerOrganization.orgMobileNo}}</span>
                </div>
            </div>

        </div>

        <!-- Billing Address -->
        <div class="flex flex-row">
            <div class="w-2/6 pr-2">
                <label class="text-lg font-semibold text-muted-foreground">Billing Address</label>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Customer Name:</span>
                    <span class="font-medium">{{invoice.customer?.name}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Address:</span>
                    <span class="font-medium">{{invoice.customer?.address}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Postcode:</span>
                    <span class="font-medium">{{invoice.customer?.postcode}}</span>
                </div>

                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Phone:</span>
                    <span class="font-medium">{{invoice.customer?.mobile}}</span>
                </div>
                <div class="mt-2 text-sm text-muted-foreground flex justify-between">
                    <span>Email:</span>
                    <span class="font-medium">{{invoice.customer?.email}}</span>
                </div>
            </div>

        </div>

        <!-- Product Table -->
        <div class="flex flex-col">
             <h1 class="text-lg font-semibold text-muted-foreground">Purchase History</h1>
            <div
                class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
                <table
                    class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
                    <thead class="bg-black-100 border border-muted/20 text-sm text-muted-foreground text-white">
                        <tr class="text-base">
                            <th>SL</th>
                            <th>Product Details</th>
                            <th>Unit Rate</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of invoice.productSales; let i=index;">
                            <td class="py-2 text-sm">{{i+1}}</td>
                            <td class="py-2 text-sm">
                                <div class="flex flex-col">
                                    <span>{{item.name}} ({{item.code}})</span>
                                    <span class="text-xs text-muted-foreground">{{item.description}}</span>
                                </div>
                            </td>
                            <td class="py-2 text-sm">{{item.pricePerUnit}}</td>
                            <td class="py-2 text-sm">{{item.quantitySold}}</td>
                            <td class="py-2 text-sm">{{item.totalAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Payment History -->
        <div class="flex flex-row justify-between">
            <div class="w-4/6 pr-2 mt-2">
                <h1 class="text-lg font-semibold text-muted-foreground">Customer Payment History</h1>
                <div
                    class="mt-2 scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
                    <table
                        class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
                        <thead class="bg-black-100 border border-muted/20 text-sm text-muted-foreground text-white">
                            <tr>
                                <th>Date</th>
                                <th>Method</th>
                                <th>Ref#</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of invoice.payments; let i=index;">
                                <td class="py-1 text-sm">{{item.paymentDate}}</td>
                                <td class="py-1 text-sm">{{item.paymentMethod}}</td>
                                <td class="py-1 text-sm">{{item.reference}}</td>
                                <td class="py-1 text-sm">{{item.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Summary Section -->
            <div class="w-2/6 pr-2">
                <div class="flex flex-col items-end mt-8 text-base gap-1">
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Sub Total:</span>
                        <span>{{invoice.productSubTotal}}</span>
                    </div>
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Total Tax: ({{invoice.taxRate}}%)</span>
                        <span>{{invoice.productTotalTax}}</span>
                    </div>
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Total Vat: ({{invoice.vatRate}}%)</span>
                        <span>{{invoice.productTotalVat}}</span>
                    </div>
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Total Discount:</span>
                        <span>{{invoice.totalDiscount}}</span>
                    </div>
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Delivery Charge:</span>
                        <span>{{invoice.deliveryCharge}}</span>
                    </div>
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Total Amount:</span>
                        <span>{{invoice.totalAmount}}</span>
                    </div>
                    <div class="w-4/6 pl-2  text-muted-foreground flex justify-between">
                        <span>Total Paid:</span>
                        <span>{{invoice.totalPaid}}</span>
                    </div>
                    <div class="w-4/6 pl-2 text-muted-foreground flex justify-between">
                        <span>Total Due:</span>
                        <span>{{invoice.remainingAmount}}</span>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <h1 class="text-muted-foreground"><strong>In words: </strong>{{this.toWords.convert(this.invoice.totalAmount)}}</h1>
        
        <!-- Notes -->
        <div class="flex flex-col mt-6">
            
            <label class="text-lg font-semibold text-muted-foreground">Notes</label>
            <p class="text-sm text-muted-foreground">
                Thank you for your business! If you have any questions about this invoice, please contact us at
                <a href="mailto:contacts.tallyapp&#64;gmail.com"
                    class="font-semibold">contacts.tallyapp&#64;gmail.com</a>.
            </p>
        </div>

        <!-- Buttons -->
        <div class="flex flex-row justify-end mt-6 gap-2 " id="buttonSection">
            <button class="flex flex-row px-4 py-2 bg-purple-500 text-white rounded-md hover:bg-purple-500/80">
                <svg-icon src="./assets/icons/heroicons/outline/download.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
                <span class="ml-2" (click)="downloadPdf()">Download</span>
            </button>
            <!-- <button class="flex flex-row px-4 py-2 bg-primary text-white rounded-md hover:bg-primary/80">
                <svg-icon src="./assets/icons/heroicons/outline/plus-v2.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
                <span class="ml-2">New Invoice</span>
            </button> -->
        </div>
    </div>
</div>