<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
  <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
    <div class="flex flex-row items-center gap-2 text-xs text-muted-foreground">

      <select
        name="transactionType"
        (change)="onSelectTxnTypeChange($event)"
        class="py-2   text-sm text-gray-500 bg-transparent border-1  border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
        <option value="" selected>Transaction Type</option>
        <ng-container *ngFor="let txn of allTransactionTypes; let i = index;">
          <option [value]="txn">{{txn | word}}</option>
        </ng-container>
      </select>

      <div class="order-1 flex items-center gap-2 md:order-1">
        Start
        <input name="startDate" class="py-2 " placeholder="Start Date" type="date" value=""
          (change)="onStartDateChange($event)" />
      </div>
      <div class="order-2 flex items-center gap-2 md:order-2">
        End
        <input name="endDate" class="py-2" placeholder="End Date" type="date" value=""
          (change)="onEndDateChange($event)" />
      </div>

    </div>
    <div class="flex flex-wrap gap-2">
      <div class="flex flex-wrap items-center justify-between gap-2  px-8 text-xs text-muted-foreground">
        <div class="order-2 flex items-center gap-2 md:order-1">
          Show
          <select class="w-16 p-2" name="rowSize" (change)="onSelectChange($event)">
            <option value="10" selected>10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="-1">All</option>
          </select>
          per page
        </div>
      </div>
      <div class="flex">
        <label class="relative text-muted-foreground">
          <div class="absolute left-2.5 top-2.5">
            <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'"> </svg-icon>
          </div>
          <input name="search" class="py-2 pl-8 pr-2" placeholder="Search Transaction" type="text" value=""
            (keydown.enter)="onSearchChange($event)" />
        </label>
      </div>
    </div>
  </div>
  <div
    class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
    <table
      class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
      <thead class="border border-muted/20 text-xs text-muted-foreground bg-black-100 text-white">
        <tr>
          <th class="min-w-[50px]">Transaction Type</th>
          <th class="min-w-[100px]">Amount</th>
          <th class="min-w-[100px]">Date</th>
          <th class="min-w-[120px]">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let txn of pageResponse?.content; let i = index" class="hover:bg-card/50  gap-4">
          <td class="hover:text-red-400">
            <span class="rounded-[30px] px-2 py-0.5 text-xs font-medium "
              [ngClass]="[
                  getTransactionTypeColor(txn.transactionType).bg,
                  getTransactionTypeColor(txn.transactionType).text
                ]"
              >
                {{ txn.transactionType }}
            </span>

          </td>
          <td>{{ txn.amount }}</td>
          <td>
            {{ txn.transactionDate |date: 'dd-MM-yyyy HH:mm' }}
          </td>
          <td>
            {{ txn.description}}
          </td>
        </tr>
        <tr *ngIf="pageResponse?.content?.length === 0">
          <td class="py-4 text-center text-sm" colspan="7">No transactions found</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-wrap items-center justify-end gap-2 py-3 px-5 text-xs text-muted-foreground">
    <div class="order-1 flex items-center gap-4 md:order-2">
      <!-- Pagination buttons -->
      <div class="inline-flex items-center gap-1">
        <!-- Previous button -->
        <button
          class="inline-flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md text-sm disabled:opacity-50"
          [disabled]="first" (click)="goToPreviousPage()">
          <svg-icon src="./assets/icons/heroicons/outline/arrow-long-left.svg" [svgClass]="'h-4 w-4'"></svg-icon>
        </button>

        <!-- Page buttons -->
        <button *ngFor="let page of getPagesArray(); let i = index"
          class="inline-flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md text-sm" [ngClass]="{
            'bg-gray-200': i ===this.currentPage,
            'hover:bg-muted-foreground/10': i !== this.currentPage
          }" (click)="goToPage(i)">
          {{ i + 1 }}
        </button>

        <button
          class="inline-flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md text-sm disabled:opacity-50"
          [disabled]="last" (click)="goToNextPage()">
          <svg-icon src="./assets/icons/heroicons/outline/arrow-long-right.svg" [svgClass]="'h-4 w-4'"></svg-icon>
        </button>
      </div>
    </div>
  </div>
</div>