<div class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">{{ 'AUTH.SIGN_IN' | translate }} <span class="text-primary">!</span></h2>
    <p class="text-sm text-muted-foreground">{{ 'AUTH.USE_ORG_ACCOUNT' | translate }}</p>
  </div>
  <div>
    <app-button full
        impact="bold"
        tone="primary"
        shape="rounded"
        size="medium"
        (buttonClick)="loginWithKeycloak()"
        >
        <span class="inline-flex items-center gap-2">
          <svg-icon src="assets/icons/heroicons/outline/key.svg" [svgClass]="'h-5 w-5'"></svg-icon>
          {{ 'AUTH.LOGIN_WITH_SSO' | translate }}
        </span>
    </app-button>
  </div>
</div>
