<div class="mb-4 flex justify-between">
    <div class="inline-block">
        <h2 class="font-semibold text-foreground">Tally App Users</h2>
        <div class="space-x-1 text-xs font-medium text-muted-foreground">
        </div>
    </div>
    <div class="inline-block space-x-4">
        <button class="flex rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground"
            (click)="addUser()">
            <svg-icon src="./assets/icons/heroicons/outline/plus.svg" [svgClass]="'h-4 w-4'"></svg-icon>
            <p>Add User</p>
        </button>
    </div>
</div>
<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <div class="flex flex-wrap items-center justify-between gap-2 py-3 px-5">
        <h3 class="text-sm font-medium text-muted-foreground">
            Showing <span>{{ startIndex }}-{{ endIndex }} of {{ this.totalRows }}</span> rows
        </h3>
           
        <div class="flex flex-wrap gap-2">
            <div class="flex flex-wrap items-center justify-between gap-2  px-8 text-xs text-muted-foreground">
                <div class="order-2 flex items-center gap-2 md:order-1">
                    Show
                    <select class="w-16 p-2" name="rowSize" (change)="onSelectChange($event)">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="-1">All</option>
                    </select>
                    per page
                </div>
            </div>
            <div class="flex">
                <label class="relative text-muted-foreground">
                    <div class="absolute left-2.5 top-2.5">
                        <svg-icon src="./assets/icons/heroicons/outline/magnifying-glass.svg" [svgClass]="'h-4 w-4'">
                        </svg-icon>
                    </div>
                    <input name="search" class="py-2 pl-8 pr-2" placeholder="Search User" type="text" value=""
                        (keydown.enter)="onSearchChange($event)" />
                </label>
            </div>
        </div>
    </div>
    <div
        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
        <table
            class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
            <thead class="border border-muted/20 text-xs text-muted-foreground bg-black-100 text-white">
                <tr class="text-center">
                    <th class="min-w-[80px]">Name</th>
                    <th class="min-w-[50px]">Username</th>
                    <th class="min-w-[50px]">Account Created</th>
                    <th class="min-w-[20px]">Role</th>
                    <th class="w-[10px]">Verified</th>
                    <th class="w-[10px]">Account Locked</th>
                    <th class="w-[10px]">Force Logout</th>
                    <!-- <th class="w-[10px]">Assign</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of pageResponse?.content; let i = index" class="hover:bg-card/50  gap-4">
                    <td>
                        <div class="flex items-center gap-2.5">
                            <img alt="user avatar" class="h-9 w-9 shrink-0 rounded-full"
                                src="https://ui-avatars.com/api/?name={{ user.fullName }}&background=random" />
                            <div class="flex flex-col">
                                <a class="text-sm font-semibold text-foreground hover:text-primary" href="#"> {{
                                    user.fullName }} </a>
                                <a class="text-xs font-medium text-muted-foreground/70 hover:text-primary" href="#">
                                    {{ user.email }}
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="hover:text-red-400">{{ user.username }}</td>
                    <td class="hover:text-red-400">{{ user.createdDate | date:'medium' }}</td>
                    <td>
                        <select id="roles-{{i}}" 
                            (change)="onRoleChange($event, user)"
                            class=" block py-2.5 px-0 w-full indent-4 text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer">
                            <option value="-1">Change Role</option>
                            <ng-container *ngFor="let role of roles; let i = index;">
                                <option [value]="role" [selected]="role==user.roles[0]">{{role}}</option>
                            </ng-container>
                        </select>
                    </td>
                    <td>
                         <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" 
                            disabled
                            [checked]="user.enabled" 
                            (change)="onVerificationChange($event, user)"
                            class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-600">
                            </div>
                        </label>
                    </td>
                    <td>
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" 
                            [checked]="user.accountLocked" 
                            (change)="onAccountLocked($event, user)"
                            class="sr-only peer">
                            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600">
                            </div>
                        </label>
                    </td>
                    <td class="text-center">
                        <div class="flex items-center gap-4">
                          <a (click)="forceLogout(user)" class="hover:text-red-700">
                            <svg-icon src="./assets/icons/heroicons/outline/power.svg" [svgClass]="'h-5 w-5 hover:h-7 w-7'"> </svg-icon>
                          </a>
                        </div>
                      </td>
                    <!-- <td class="text-center">
                        <div class="flex items-center gap-4">
                          <a (click)="assignUser(user)" class="hover:text-red-700">
                            <svg-icon src="./assets/icons/heroicons/outline/edit.svg" [svgClass]="'h-5 w-5 hover:h-7 w-7'"> </svg-icon>
                          </a>
                        </div>
                      </td> -->
                </tr>
                <tr *ngIf="pageResponse?.content?.length === 0">
                    <td class="py-4 text-center text-sm" colspan="7">No registered users found</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="flex flex-wrap items-center justify-end gap-2 py-3 px-5 text-xs text-muted-foreground">
        <div class="order-1 flex items-center gap-4 md:order-2">
            <!-- Pagination buttons -->
            <div class="inline-flex items-center gap-1">
                <!-- Previous button -->
                <button
                    class="inline-flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md text-sm disabled:opacity-50"
                    [disabled]="first" (click)="goToPreviousPage()">
                    <svg-icon src="./assets/icons/heroicons/outline/arrow-long-left.svg"
                        [svgClass]="'h-4 w-4'"></svg-icon>
                </button>

                <!-- Page buttons -->
                <button *ngFor="let page of getPagesArray(); let i = index"
                    class="inline-flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md text-sm" [ngClass]="{
              'bg-gray-200': i ===this.currentPage,
              'hover:bg-muted-foreground/10': i !== this.currentPage
            }" (click)="goToPage(i)">
                    {{ i + 1 }}
                </button>

                <button
                    class="inline-flex h-7 w-7 flex-shrink-0 items-center justify-center rounded-md text-sm disabled:opacity-50"
                    [disabled]="last" (click)="goToNextPage()">
                    <svg-icon src="./assets/icons/heroicons/outline/arrow-long-right.svg"
                        [svgClass]="'h-4 w-4'"></svg-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <app-edit-app-properties #modal [appProperty]="appProperty"></app-edit-app-properties> -->