<div class="h-[420px] flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">


  <!-- Card Body -->
  <div class="h-[220px]">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [legend]="chartOptions.legend!"
      [dataLabels]="chartOptions.dataLabels!" [fill]="chartOptions.fill!" [stroke]="chartOptions.stroke!"
      [xaxis]="chartOptions.xaxis!" [yaxis]="chartOptions.yaxis!" [states]="chartOptions.states!"
      [tooltip]="chartOptions.tooltip!" [colors]="chartOptions.colors!" [grid]="chartOptions.grid!"
      [title]="chartOptions.title!">
    </apx-chart>
  </div>

  <div class="flex flex-row justify-between mb-4">
    <div class="w-1/2 ">
      <div class="flex flex-col gap-2">
        <div class="w-full mb-2">
          <p class="text-sm text-gray-500 dark:text-gray-400">Total Stock</p>
          <p class="text-md font-bold text-gray-700">{{productStatistics?.totalProductCount || 0}}</p>
        </div>
        <div class="w-full mb-2">
          <p class="text-sm text-gray-500 dark:text-gray-400">Units Sold</p>
          <p class="text-md font-bold text-gray-700">{{productStatistics?.totalProductSoldCount || 0}}</p>
        </div>
      </div>
    </div>
    <div class="w-1/2 ">
      <div class="flex flex-col gap-2">
        <div class="w-full mb-2">
          <p class="text-sm text-gray-500 dark:text-gray-400">Total Production Cost</p>
          <p class="text-md font-bold text-gray-700">BDT {{productStatistics?.totalProductionCostSum || 0}} </p>
        </div>
        <div class="w-full mb-2">
          <p class="text-sm text-gray-500 dark:text-gray-400">Total Employee Cost</p>
          <p class="text-md font-bold text-gray-700">BDT {{productStatistics?.totalEmployeeCostSum || 0}}</p>
        </div>
      </div>
    </div>
  </div>


</div>