<div class="h-[420px] flex-col rounded-lg bg-background px-8 py-8 sm:flex-row">


  <!-- Card Body -->
   <div class="h-[240px]">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [legend]="chartOptions.legend!"
        [dataLabels]="chartOptions.dataLabels!"
        [fill]="chartOptions.fill!"
        [stroke]="chartOptions.stroke!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!"
        [states]="chartOptions.states!"
        [tooltip]="chartOptions.tooltip!"
        [colors]="chartOptions.colors!"
        [grid]="chartOptions.grid!"
        [title]="chartOptions.title!">
      </apx-chart>
  </div>

  <!-- end Chart -->

  <h2 class="text-center text-md mt-6 font-semibold text-foreground">{{productResponse?.totalElements}}</h2>
  <div class="text-center dflex items-end justify-between text-sm font-semibold text-muted-foreground">
    Total Products
  </div>
  
</div>
