<form class="my-4 space-y-6" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="mb-1 text-3xl font-semibold text-foreground">Login Verification</h2>
    <p class="text-sm text-muted-foreground">{{this.message}}</p>
  </div>

  <div class="my-4">
    <app-otp [length]="6" (otpChange)="onOtpInput($event)"></app-otp>
  </div>

  <div *ngIf="submitted" class="is__invalid-error">
    <div *ngIf="errorMessage != ''">{{ errorMessage }}</div>
  </div>

  <div class="my-4 flex justify-between space-x-2">
    <div class="w-full">
      <app-button full impact="bold" tone="primary" shape="rounded" size="medium">
        Submit
      </app-button>
    </div>
    <div class="w-full">
      <button type="button" (click)="onCancel()"
        class="w-full px-5 py-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Cancel
      </button>
    </div>
  </div>
</form>