<div class="flex h-screen w-full items-center justify-center bg-muted">
  <div
    class="flex max-w-lg flex-col items-center justify-center gap-2 rounded-lg bg-background p-8 text-center shadow-sm">
    <h1 class="text-4xl font-bold text-foreground">Access Denied</h1>
    <p class="text-base text-muted-foreground">
      You don't have the required role to access this page.
    </p>
    <app-button (buttonClick)="goToHomePage()" impact="bold" tone="primary" shape="rounded" size="medium">
      Homepage
    </app-button>
    <img [src]="'assets/images/403.png'" class="w-[300px] h-[300px] text-muted-foreground"/>
  </div>
</div>
