<div class="flex h-screen w-screen">

  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="./assets/images/auth-screens.png" alt="dashboard widget" />
      <h1 class="text-4xl font-bold">"Fast, Efficient and Productive"</h1>
      <p class="text-xs font-light">
        At our furniture shop, every piece tells a story of craftsmanship and care.
        From the very beginning, we source only the finest raw materials, ensuring 
        quality and durability in every creation. Each item is crafted from scratch
        by our expert carpenters, who bring years of skill, passion, and attention
        to detail to every products.
      </p>
    </div>
  </div>

  <!-- Select positioned to the top right corner -->
  <div class="absolute top-0 right-0 p-4">
    <select  (change)="onLanguageChange($event)">
      <option value="-1">Select Language</option>
      <option value="en" [selected]="selectedLanguage === 'en'">English</option>
      <option value="bn" [selected]="selectedLanguage === 'bn'">বাংলা</option>
    </select>
  </div>

  <div class="flex flex-1 items-center justify-center bg-background">
 

    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded  p-2">
          <img src="assets/logo.png" class="w-24 h-24"/> 
        </a>
      </div>
      <!-- Route -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
