<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold">Change Password</h6>
    </div>
  </div>
  <div class="flex flex-wrap justify-center items-center">
    <div class="w-full lg:w-6/12 px-4">
      <form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">  
          <div class="space-y-3 text-left">
            <div class="relative">
              <input type="password" id="oldPassword" class="peer block" placeholder=" " [type]="passwordTextType ? 'text' : 'password'"
              formControlName="oldPassword" />
              <label
                for="oldPassword"
                class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
                Current Password
              </label>
              <div *ngIf="submitted && f['oldPassword'].errors" class="is__invalid-error">
                <div *ngIf="f['oldPassword'].errors['required']">Required field</div>
              </div>
            </div>

            <div class="relative">
              <input  
                  id="password" 
                  class="peer block" 
                  placeholder=" "
                  formControlName="password"
                  [type]="passwordTextType ? 'text' : 'password'"
                  (input)="onPasswordInput($event)"
               />
              <label
                for="password"
                class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
                New Password
              </label>
              <div *ngIf="submitted && f['password'].errors" class="is__invalid-error">
                <div *ngIf="f['password'].errors['required']">Required field</div>
                <div *ngIf="f['password'].errors['pattern']">
                  Password must be alpha numeric with atleast one special symbol, Minimum Length 8
                </div>
              </div>
              <span class="absolute top-2.5 right-5 cursor-pointer text-muted-foreground" (click)="togglePasswordTextType()">
                <svg-icon
                  [src]="
                    !passwordTextType
                      ? 'assets/icons/heroicons/outline/eye-off.svg'
                      : 'assets/icons/heroicons/outline/eye.svg'
                    "
                  [svgClass]="'h-5 w-5'">
                </svg-icon>
              </span>
            </div>
            <!-- Password Meeter -->
            <div class="grid grid-cols-4 gap-2">
              <div
                *ngFor="let bar of [0, 1, 2, 3]; let i = index"
                class="h-1 rounded-sm"
                [ngClass]="{
                  'bg-red-500': this.passwordStrength === 1 && i < this.passwordStrength,
                  'bg-yellow-300': this.passwordStrength === 2 && i < this.passwordStrength,
                  'bg-green-200': this.passwordStrength === 3 && i < this.passwordStrength,
                  'bg-green-500':this.passwordStrength === 4 && i < this.passwordStrength,
                  'bg-muted': i >= this.passwordStrength
                }">
              </div>
            </div>
            <span class="text-xs text-muted-foreground "> Use 8 or more characters with a mix of letters, numbers & symbols.
              <span *ngIf="this.passwordMeaterLabel!==''" [ngClass]="{
                'text-red-500': this.passwordStrength === 1,
                'text-yellow-300': this.passwordStrength === 2,
                'text-green-200': this.passwordStrength === 3,
                'text-green-500':this.passwordStrength === 4,
                'text-muted': 0 >= this.passwordStrength
              }" class="font-bold">
                ({{this.passwordMeaterLabel}})
              </span>
            </span>
            <div class="relative">
              <input 
                  type="password" 
                  id="confirmPassword" 
                  class="peer block" 
                  placeholder=" "
                  formControlName="confirmPassword"
                  [type]="passwordTextType ? 'text' : 'password'"
               />
              <label
                for="confirmPassword"
                class="absolute top-2 left-1 z-10 origin-[0] -translate-y-4 scale-95 transform bg-background px-2 text-sm text-muted-foreground duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 peer-focus:text-primary">
                Confirm Password
              </label>
              <div *ngIf="submitted && f['confirmPassword'].errors" class="is__invalid-error">
                <div *ngIf="f['confirmPassword'].errors['required']">Required field</div>
                <div *ngIf="f['confirmPassword'].errors['pattern']">
                  Password must be alpha numeric with atleast one special symbol, Minimum Length 8
                </div>
              </div>
              <div *ngIf="submitted" class="is__invalid-error">
                <div *ngIf="errorMessage != ''">{{ errorMessage }}</div>
              </div>
            </div>
          </div>
        
          <!-- Submit Button -->
          <div>
            <app-button  full impact="bold" tone="primary" shape="rounded" size="medium">
              Submit
            </app-button>
          </div>
      </form>
     </div>
  </div>
</div>
  