<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">
    <form [formGroup]="invForm" (ngSubmit)="submitInvoice()">
    <div class="flex flex-col m-6 gap-4 divide-y-2 divide-dashed">
        <div class="flex flex-row justify-between">
            <div class="w-2/6 pr-2 ">
                <img [src]="invoice?.ownerOrganization?.logoB64 || 'https://placehold.co/400'" alt="Invoice Image"
                    class="w-auto h-20 border border-dashed border-border rounded shadow-md mb-4">

                <div class="flex flex-col ">
                    <input type="hidden" formControlName="id"/>
                    
                    <label class="text-sm text-muted-foreground">Invoice No</label>
                    <input type="text" placeholder=" " [value]="invoice?.invoiceNumber" readonly
                        class="bg-gray-100 mb-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary"/>
                   
                    <label class="text-sm text-muted-foreground">Invoice Date</label>
                    <input type="date" placeholder=" " [value]="invoice?.invoiceDate" formControlName="invoiceDate"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary"/>
                   
                    <label class="text-sm text-muted-foreground">Invoice Status</label>
                    <select type="text" placeholder=" " [value]="invoice?.invoiceStatus" formControlName="invoiceStatus"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                         <option *ngFor="let status of invoiceStatus" [value]="status">{{ status | word }}</option>
                    </select>

                    <label class="text-sm text-muted-foreground">Delivery Date</label>
                    <input type="date" placeholder=" " [value]="invoice?.deliveryDate" formControlName="deliveryDate"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary"/>

                </div>

            </div>
            <div class="w-2/6 pl-2 ">
                <!-- <img src="./assets/img/barcode-v2.png" alt="Invoice QR Code" class="w-full h-12 rounded bg-gray-100"> -->
                <img [src]="invoice?.barcode || './assets/img/barcode-v2.png'" alt="Invoice QR Code" class="w-full h-12 rounded bg-gray-100">

                <label class="text-sm text-muted-foreground">Organization Name</label>
                <input type="text" placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgName"
                    class="bg-gray-100 mb-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary" />

                <label class="text-sm text-muted-foreground">Address</label>
                <textarea placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgAddressLine"
                    class="bg-gray-100 mb-2 w-full rounded-md border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary"></textarea>

                <label class="text-sm text-muted-foreground">Postcode</label>
                <input type="text" placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgAddressPostcode"
                    class="bg-gray-100 mb-2 w-full rounded-md border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary" />

                <label class="text-sm text-muted-foreground">TIN No</label>
                <input type="text" placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgTinNumber"
                    class="bg-gray-100 mb-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary" />

                <label class="text-sm text-muted-foreground">VAT Registration No</label>
                <input type="text" placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgVatNumber"
                    class="bg-gray-100 mb-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary" />

                <label class="text-sm text-muted-foreground">Email</label>
                <input type="text" placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgEmail"
                    class="bg-gray-100 mb-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary" />

                <label class="text-sm text-muted-foreground">Contact No</label>
                <input type="text" placeholder=" " readonly [value]="invoice?.ownerOrganization?.orgMobileNo"
                    class="bg-gray-100 mb-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary" />

            </div>
        </div>
        <div class="flex flex-row">
            <div class="w-2/6 pr-2">
                <label class="text-lg font-semibold text-muted-foreground">Billing Address</label>
                <div class="flex flex-col mt-2">

                    <ng-select 
                        [items]="allCustomers"
                        bindValue="id"
                        bindLabel="label"
                        formControlName="customerId"
                        placeholder="Search customer name or mobile or email"
                        (change)="onSelectCustomer($event)"
                        (keydown.enter)="onCustomerSearchKeyType($event)"
                        >
                    </ng-select>
                    <div class="flex flex-row gap-1">
                    <label class="text-sm text-muted-foreground">Customer Name</label>
                        <a class="text-primary hover:text-red-500" (click)="createNewCustomer()" tooltips="Create New Customer">
                            <svg-icon 
                                src="./assets/icons/heroicons/outline/plus-v2.svg"
                                [svgClass]="'h-5 w-5'"> 
                                
                            </svg-icon>
                        </a>
                    </div>
                    <input type="text" placeholder=" " [value]="invoice?.customer?.name" formControlName="customerName"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">

                    <label class="text-sm text-muted-foreground">Customer Phone</label>
                    <input type="text" placeholder=" " [value]="invoice?.customer?.mobile" formControlName="customerMobile"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">

                    <label class="text-sm text-muted-foreground">Customer Email</label>
                    <input type="text" placeholder=" " [value]="invoice?.customer?.email" formControlName="customerEmail"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">

                    <label class="text-sm text-muted-foreground">Customer Address</label>
                    <textarea placeholder=" " [value]="invoice?.customer?.address" formControlName="customerAddressLine"
                        class=" mb-2 w-full rounded-md border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary"></textarea>
                    <label class="text-sm text-muted-foreground">Customer Postcode</label>
                    <input type="text" placeholder=" " [value]="invoice?.customer?.postcode" formControlName="customerPostcode"
                        class=" mb-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <h1 class="text-lg font-semibold text-muted-foreground">Purchase History</h1>
             <form [formGroup]="productForm">
                <div
                    class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
                    <table
                        class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
                        <thead class="bg-black-100 border border-muted/20 text-xs text-muted-foreground text-white">
                            <tr>
                                <th>SL</th>
                                <th>Product Details</th>
                                <th>Unit Rate</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th class="flex flex-row gap-2">
                                    <span>Action</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let prod of invoice?.productSales; let i = index">
                                <td class="py-4 text-sm">{{i+1}}</td>
                                <td class="py-4 text-sm">
                                    <div class="flex flex-col">
                                        <span class="font-semibold">{{prod.name}}</span>
                                        <p class="text-xs">{{prod.code}}</p>
                                        <span class="text-xs text-muted-foreground">{{prod.description}}</span>
                                    </div>
                                </td>
                                <td class="py-4 text-sm">{{prod.pricePerUnit}}</td>
                                <td class="py-4 text-sm">{{prod.quantitySold}}</td>
                                <td class="py-4 text-sm">{{prod.totalAmount}}</td>
                                <td class="py-4 text-sm">
                                    <div class="flex items-center gap-4">
                                        <a class="text-primary hover:text-red-500" (click)="deleteProduct(prod)">
                                            <svg-icon src="./assets/icons/heroicons/outline/trash.svg"
                                                [svgClass]="'h-4 w-4'"> </svg-icon>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="py-4 text-sm">2</td>
                                <td class="py-4 text-sm">
                                    <ng-select 
                                        [items]="allProducts"
                                        bindValue="id"
                                        bindLabel="label"
                                        formControlName="productId"
                                        placeholder="Product name or code"
                                        (change)="onSelectProduct($event)"
                                        (keydown.enter)="onSearchKeyType($event)"
                                        >
                                    </ng-select>
                                     <textarea type="text" placeholder="Product Details" formControlName="productDescription" readonly
                                        class="bg-gray-100 border border-border mt-2 w-full rounded bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary"></textarea>
                                </td>

                                <td class="py-4 text-sm">
                                    <input type="number" value="৳0.00" step="1" placeholder="Rate" formControlName="productUnitRate"
                                        class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                </td>
                                <td class="py-4 text-sm">
                                    <input type="number" value="1" min="1" placeholder="Quantity" formControlName="productQuantity"
                                        class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                </td>
                                <td class="py-4 text-sm">
                                    <input type="text" value="৳0.00" readonly formControlName="productAmount" placeholder="Total Amount"
                                        class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                </td>
                                <td class="py-4 text-sm">
                                    <div class="flex items-center gap-4">
                                       <a 
                                            class="text-primary rounded-md"
                                            [ngClass]="{
                                                'hover:font-bold cursor-pointer': productForm.valid,
                                                'opacity-50 pointer-events-none cursor-not-allowed': !productForm.valid
                                            }"
                                            (click)="productForm.valid && submitProduct()"
                                            >
                                            <svg-icon src="./assets/icons/heroicons/outline/check-circle.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                                            </a>

                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
        <div class="flex flex-row justify-between">
            <div class="w-4/6 pr-2">
                <h1 class="text-lg font-semibold text-muted-foreground">Customer Payment History</h1>
                <form [formGroup]="paymentForm">
                    <div
                        class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-x-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
                        <table
                            class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
                            <thead class="bg-black-100 border border-muted/20 text-xs text-muted-foreground text-white">
                                <tr>
                                    <th>Date</th>
                                    <th>Method</th>
                                    <th>Ref#</th>
                                    <th>Amount</th>
                                    <th class="flex flex-row gap-2">
                                        <span>Action</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pay of invoice?.payments; let i = index" class="gap-4 hover:bg-card/50">
                                    <td class="py-4 text-sm">{{pay.paymentDate}}</td>
                                    <td class="py-4 text-sm">{{pay.paymentMethod}}</td>
                                    <td class="py-4 text-sm">{{pay.reference}}</td>
                                    <td class="py-4 text-sm">{{pay.amount}}</td>
                                    <td class="py-4 text-sm">
                                        <div class="flex items-center gap-4">
                                            <a class="text-primary hover:text-red-500" (click)="deletePayment(pay)">
                                                <svg-icon src="./assets/icons/heroicons/outline/trash.svg"
                                                    [svgClass]="'h-4 w-4'"> </svg-icon>
                                            </a>
                                        </div>
                                    </td>
                                 </tr>
                                <tr>
                                    <td class="py-4 text-sm">
                                        <input type="date" value="2024-10-01" formControlName="paymentDate"
                                            class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                    </td>
                                    <td class="py-4 text-sm">
                                        <input type="text" placeholder="Method" formControlName="paymentMethod"
                                            class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                    </td>
                                    <td class="py-4 text-sm">
                                        <input type="text" placeholder="Reference" formControlName="paymentRef"
                                            class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                    </td>
                                    <td class="py-4 text-sm">
                                        <input type="text" value="0.00" formControlName="paymentAmount"
                                            class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                                    </td>
                                    <td class="py-4 text-sm">
                                        <div class="flex items-center gap-4">
                                            <a 
                                                class="text-primary rounded-md"
                                                [ngClass]="{
                                                    'hover:font-bold cursor-pointer': paymentForm.valid,
                                                    'opacity-50 pointer-events-none cursor-not-allowed': !paymentForm.valid
                                                }"
                                                (click)="paymentForm.valid && submitPayment()"
                                            >
                                            <svg-icon src="./assets/icons/heroicons/outline/check-circle.svg" [svgClass]="'h-6 w-6'"></svg-icon>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="w-2/6 pr-2">
                <div class="flex flex-col items-end mt-8">
                    <div class="w-4/6 pl-2">
                        <label class="text-base text-muted-foreground">Sub Total</label>
                        <input type="text" value="0.00" readonly [value]="invoice?.productSubTotal"
                            class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-sm text-muted-foreground">Total TAX ({{invoice?.taxRate}} %)</label>
                        <input type="text" value="0.00" readonly [value]="invoice?.productTotalTax"
                            class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-sm text-muted-foreground">Total VAT ({{invoice?.vatRate}} %)</label>
                        <input type="text" value="0.00" readonly [value]="invoice?.productTotalVat"
                            class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-base text-muted-foreground">Total Discount</label>
                        <input type="text" value="0.00" formControlName="totalDiscount"
                            class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-base text-muted-foreground">Delivery Charge</label>
                        <input type="text" value="0.00" formControlName="deliveryCharge"
                            class=" mt-2 w-full rounded border border-border bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-base font font-semibold text-muted-foreground">Total Amount</label>
                        <input type="text" value="0.00" readonly [value]="invoice?.totalAmount"
                            class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-base text-muted-foreground">Total Paid</label>
                        <input type="text" value="0.00" readonly [value]="invoice?.totalPaid"
                            class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                    <div class="w-4/6 pl-2">
                        <label class="text-base text-muted-foreground">Total Due</label>
                        <input type="text" value="0.00" readonly [value]="invoice?.remainingAmount"
                            class="bg-gray-100 mt-2 w-full rounded border border-muted/20 bg-background px-3 py-2 text-sm text-muted-foreground focus:border-primary focus:ring-1 focus:ring-primary">
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-muted-foreground"><strong>In words: </strong>{{this.toWords.convert(this.invoice?.totalAmount ?? 0)}}</h1>
        <div class="flex flex-col mt-6">
            <label class="text-lg font-semibold text-muted-foreground">Notes</label>
            <p class="text-sm text-muted-foreground">
                Thank you for your business! If you have any questions about this invoice, please contact us at
                <a href="mailto:contacts.tallyapp&#64;gmail.com"
                    class="font-semibold">contacts.tallyapp&#64;gmail.com</a>.
            </p>

        </div>
        <div class="flex flex-row justify-end mt-2 gap-2">
            <button class="flex flex-row px-4 py-2 bg-primary text-white rounded-md" [disabled]="invForm.invalid">
                <svg-icon src="./assets/icons/heroicons/outline/folder.svg" [svgClass]="'h-5 w-5'"> </svg-icon>
                <span class="ml-2">Save</span>
            </button>
        </div>
    </div>
    </form>
</div>