<div
  class="flex max-w-lg flex-col items-center justify-center gap-2 rounded-lg bg-background p-8 text-center shadow-sm">
  <h1 class="text-4xl font-bold text-foreground">{{ 'ERROR.OOPS' | translate }}</h1>
  <p class="text-base text-muted-foreground">
    {{ 'ERROR.403_MESSAGE' | translate }}
  </p>
  <app-button (buttonClick)="goToHomePage()" impact="bold" tone="primary" shape="rounded" size="medium">
    {{ 'ERROR.HOMEPAGE' | translate }}
  </app-button>
    <img [src]="'assets/images/403.png'" class="w-[300px] h-[300px] text-muted-foreground "/> 
</div>
